* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: block;
  overflow-x: scroll;
  scrollbar-width: 3px;
  height: 10px;              
  width: 4px;              
  border: 1px solid #d5d5d5;
}
.media-scroller::-webkit-scrollbar {
  display: block;
  overflow-x: scroll;
  scrollbar-width: 3px;
  height: 10px;              
  width: 4px;              
  border: 1px solid #d5d5d5;
}

/* ::-webkit-scrollbar {
  height: 10px;              
  width: 4px;              
  border: 1px solid #d5d5d5;
} */

/* ::-webkit-scrollbar-thumb:horizontal{
  background-color: #000;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #000;
  outline: 1px solid slategrey;
} */

body {
  background: #ffffff;
  padding-top: 1px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  margin-bottom: 0;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.center {
  text-align: center;
}

.navbar {
  width: 100vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hidden {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
}

.no-pointer {
cursor: initial;
}

.header {
  text-align: center;
  padding-top: 1rem;
}

.accessories {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  /* padding-bottom: 100px; */
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
}

.flex-column {
  display: flex;
  flex-direction: column;
}

#price {
  /* display: none; */
  font-size: 10px;
}
#sale {
  font-size: 10px;
  color: red;
}

.faux-footer {
  padding-top: 1rem;
  text-align: center;
}

.icons {
  display: flex;
  gap: 2rem;
  font-size: 2em;
  justify-content: center;
}


/***************************** Media Scroller */

.media-scroller {
  display: grid;
  gap: 1.5rem;
  grid-auto-flow: column;
  /* overflow-x: auto;
  overscroll-behavior-inline: contain; */
  overflow: scroll;
}

.media-scroller-details {
padding-top: 1rem;
}

.media-element{
  padding: 2rem 0 1rem 0;
}

.media-element > img {
  width: 500px;
}

.details {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
}

.snaps-inline > .media-element {
  scroll-snap-align: start;
}

/********************** End of media scroller */

/************************************** Mobile */
@media screen and (max-width: 706px){
  .accessories {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .media-scroller img {
    height: 150px;
    width: 150px;
  }

.accessories {
  gap: 1rem 1.5rem;
}
 /* Testing to show x-scroll bar */
.flex-column {
  white-space: wrap;
}

  /* ?? */
  .height {
    margin-top: 1rem;
  }

  /* Media scroller */

  .media-scroller {
    display: grid;
    grid-auto-flow: column;
    gap: .5rem;
    /* overflow-x: auto; */
    overscroll-behavior-inline: contain;
    overflow-x: scroll;
  
  }

  /* .media-element{
    padding: 1rem 0;
  }

  .media-element > img {
    height: 400px;
    width: 300px;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .accessories .media-element > img {
    height: 175px;
    width: 175px;
    aspect-ratio: 1/1;
  } */

 /* End of media scroller */
}

/* Laptop+ */
@media (min-width: 707px) {
.accessories {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .accessories img {
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 300px;
  }
/* 
  .info {
    flex-direction: row;
    justify-content: space-between;
    max-width: 300px;
  } */
}
