* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding);
}

::-webkit-scrollbar {
  height: 10px;              
  width: 4px;              
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-thumb:horizontal{
  background-color: #000;
}

body {
  background: #ffffff;
  padding-top: 1px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  margin-bottom: 0;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.center {
  text-align: center;
}

.navbar {
  width: 100vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hidden {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
}

.no-pointer {
cursor: initial;
}

.strike{
  text-decoration: line-through;
}

.header {
  text-align: center;
  padding-top: 1rem;
}

.modal {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3 ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close{
  opacity: 0;
  z-index: -1;
}

.modal-inner {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 15px 25px;
  width: 380px;
}

.modal-inner h2{
  text-align: center;
  margin: 0;
  color: red;
}

.modal-inner p {
line-height: 24px;
margin: 10px 0;
}

.modal-inner button{
  padding: .5rem 1rem;
  background: #777;
  color: #fff;
  cursor: pointer;
  border: none;
  display: flex;
  margin-left: auto;
}
/**************************************************** READY TO WEAR */
/************** Media scroller was designed to be mobile first */

.shirts {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 525px));
  gap: 4rem 8rem;
  justify-content: center;
  padding: 1rem 5rem;
}

.media-scroller {
  display: grid;
  gap: 1.5rem;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-element{
  padding: 2rem 0;
}

.media-element > img {
  /* max-height: 650px;
  max-width: 500px; */
  aspect-ratio: 9/16;
}

.details {
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
}

.snaps-inline > .media-element {
  scroll-snap-align: start;
}

/******************************** End of media scroller */


.new-arrivals,
.wedges,
.heels,
.flats,
.slides,
.sporty,
.boots,
.mens,
.markdowns {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 100px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.style {
  justify-self: center;
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 150px;
}

#style-height {
  font-style: italic;
  font-size: .8rem;
  }

#price {
  /* display: none; */
  font-size: 10px;
}
#sale {
  font-size: 10px;
  color: red;

}

.faux-footer {
  padding-top: 1rem;
  text-align: center;
}

.icons {
  display: flex;
  gap: 2rem;
  font-size: 2em;
  justify-content: center;
}

/********************************************** Mobile QUERY */
@media screen and (max-width: 899px){
  img {
    height: 150px;
    width: 150px;
    /* aspect-ratio: 9/16; */
  }

  .height {
    margin-top: 1rem;
  }

  /******************************* Media scroller */

  .shirts {
    display: grid;
    grid-template-columns: repeat(1, 335px);
    /* Org. 300px^ */
    gap: 1rem;
    justify-content: center;
    padding: 2rem;
  }

  .shirts img {
    object-fit: cover;
  }

  .media-scroller {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    /* Org .5rem^ */
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  
  }

  .media-element{
    padding: 1rem 0;
  }

  .media-element > img {
    height: 400px;
    width: 300px;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
 /**************************** End of media scroller */
}

/******************************** Laptop+ */
@media (min-width: 900px) {
  .new-arrivals,
  .wedges,
  .heels,
  .flats,
  .slides,
  .sporty,
  .boots,
  .mens,
  .markdowns {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .style > a > img, .style > img {
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 300px;
  }



  .info {
    flex-direction: row;
    justify-content: space-between;
    max-width: 300px;
  }
}
