* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

body {
  padding-top: 1px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

img {
  max-width: 300px;
  max-height: 300px;
  margin: 1rem auto;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.navbar {
  width: 100vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.hidden {
  display: none;
}
.sticky {
  position: fixed;
  top: 0;
}

.fixed {
  position: fixed;
}

.style-details {
  padding-top: 100px;
  text-align: center;
}

.photos {
  display: flex;
  flex-direction: column;
}

.style-details ul {
  list-style: none;
  padding: 0;
}

.style-details li {
  text-align: center;
}
.details {
  text-align: start;
}

.bold {
font-weight: bold;
}

.faux-footer {
  grid-area: footer;
  padding-top: 1rem;
  text-align: center;
}

.icons {
  display: flex;
  gap: 2rem;
  font-size: 2em;
  justify-content: center;
}

/* Mobile */
@media screen {
  img {
    height: 300px;
    width: 300px;
  }
}

/* Laptop+ */
@media (min-width: 900px) {
  img {
    height: auto;
    width: auto;
    max-height: 3500px;
    max-width: 350px;
  }

  .style-container {
    display: grid;
    grid-template-areas:
      "side content"
      "side content"
      "side content"
      "footer footer";
    grid-template-columns: 20% 80%;
  }

  .style-details {
    grid-area: side;
    padding: 275px 0 0 100px;
    position: fixed;
  }

  .style-details h3, .style-details li {
    word-wrap: break-word;
    max-width: 275px;
    text-align: left;
  }

  /* .style-details li {
    text-align: left;
  } */

  .photos {
    grid-area: content;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
  }
}
/* Wide Screen */
@media (min-width: 1400px) {
  img {
    max-height: 500px;
    max-width: 500px;
  }

  .style-details {
    grid-area: side;
    padding: 400px 0 0 200px;
    position: fixed;
  }

  .style-details h3, .style-details li {
    word-wrap: none;
    max-width: 100%;
    text-align: left;
  }

  .photos {
    padding-top: 100px;
  }
}
